FLASK_SECRET_KEY=SUBSTITUA_POR_UMA_CHAVE_ALEATORIA
JWT_SECRET_KEY=SUBSTITUA_POR_OUTRA_CHAVE_ALEATORIA
DATABASE_URL=sqlite:///aplicativo_gastos.db
APP_TIMEZONE=America/Sao_Paulo
DATABASE_SSL_CA=
FLASK_DEBUG=false
